/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #Sidebar{
   background-color: aqua;
   width: 14rem;
   background-size: cover;
   position: relative;
   padding: 1rem;
   padding-left: 0;
   text-align: left;
   list-style: none;
   /* box-sizing: border-box; */
   min-height: 100vh;
   flex-direction: column;
   margin-bottom: 0;
   display: flex;
 }

 #Content-Wrapper{
   width: 100%;
   flex-direction: column;
   display: flex;
   box-sizing: border-box;
 }

 #Topbar{
   height: 4rem;
   background-color: burlywood;
   position: relative;
   display: flex;
   justify-content: flex-start;
   flex-direction: row;
 }

 #Wrapper{
   display: flex;
 }

 #Main-Container{
   width: 100%;
 }

 #Content{
   flex: 1 0 auto;
 }